1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [ ]:
#Custom reduce function
def myreduce(func, sequence):

  result = sequence[0]

  for item in range(1,len(sequence)):
   result = func(result, sequence[item])

  return result

In [ ]:
# Testing the custom reduce function
def add_num(x,y): return x+y
print ("Adding numbers in the list : {}".format(myreduce(square_num, [1,2,3,8,17,99,109])))

Adding numbers in the list : 239

In [ ]:
# Testing the custom reduce function
def mul_num(x,y): return x*y
print ("Mulitplying numbers in the list :%d" %myreduce(square_num, [1,2,3,8,17,99,109]))

Mulitplying numbers in the list :239

--------------------------------------------------------------------------------

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [ ]:
def myfilter(func, sequence):

 result = []
 for item in sequence:
  if func(item):
   result.append(item)

 return result

In [ ]:
def isEven(x):
 if (x %2 == 0): 
  return True 
 else: 
  return False

In [ ]:
print (myfilter(isEven, [0,1,-2,3,4,5,8,10,11,12,12,15]))

[0, -2, 4, 8, 10, 12, 12]

In [ ]:
lst = [0,1,-2,3,4,5,8,10,11,12,12,15]

print(len(lst))
for item in range(0, len(lst)):
  print(lst[item],end= ' ')

12
0 1 -2 3 4 5 8 10 11 12 12 15

--------------------------------------------------------------------------------

2. Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists



['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz'] 

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz'] 

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [49]:
'''
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
'''

a1 = ['x'*i for i in range(1, 5)]
b1 = ['y'*j for j in range(1, 5)]
c1 = ['z'*k for k in range(1, 5)]

a1 + b1 + c1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [48]:
'''
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
'''
c_list = ['x','y','z']
r1 = [ c*i for c in c_list  for i in range(1,5)]
r1

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [47]:
'''
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
'''
r2 = [ c*i for i in range(1,5) for c in c_list ]
r2

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [38]:
'''
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
'''
num_list = [2,3,4]
r3 = [ [i+num] for i in num_list for num in range(0,3)]
r3

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [46]:
'''
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
'''
num_list = [2,3,4,5]
r3 = [ [i+num for i in num_list] for num in range(0,4)]
r3

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]